html, body, #md-party {
    height: 100vh;
    margin: 0;
    background: white;
}

/* Basic typography */

body {
    color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
}

body a { color: black }
body a:visited { color: #666 }

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

/* Vertical page parts */

#md-party { display: flex; flex-direction: column }
header  { flex: 0 0 }
nav     { flex: 0 0 }
main    { flex: 1 0 }
#message{ flex: 1 0 }
footer  { flex: 0 0 }

/* Navigation: basic and desktop appearance */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: #eee;
    background: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    opacity: .97;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #nav-title {
    flex: 0 0 auto;
    order: 1;
}

nav #nav-items {
    flex: 1 0 auto;
    order: 2;
}

nav #nav-burger {
    flex: 0 0 auto;
    order: 3;
    padding: .5em 1em;
}
nav #nav-burger button { display: none }

/* Navigation: title */

nav #nav-title {
    display: inline-block;
    padding: .5em 1em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

/* Navigation: desktop navigation items */

nav #nav-items,
nav #nav-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav #nav-items li::before {
    display: none;
}

nav #nav-items a {
    display: inline-block;
    padding: .5em 1em;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

nav #nav-items .active {
    background: rgba(255, 255, 255, 0.5);
}

nav #nav-items .active a {
    color: rgba(0, 0, 0, 0.5);
}

/* Navigation: mobile appearance with burger */

@media (max-width: 48em) {

    nav #nav-burger button {
        display: inline-block;
        background: none;
    }

    nav { flex-wrap: wrap }

    nav #nav-items { display: none }
    nav #nav-items.active-burger {
        display: block;
        width: 100%;
        order: 3;
    }

    nav #nav-items.active-burger li,
    nav #nav-items.active-burger a {
        display: block;
        text-align: left;
    }

    nav #nav-burger { padding: 0 }
    nav #nav-burger button {
        border: none;
        outline: none;
        padding: .5em 1em;
        font-size: 1em;
        cursor: pointer;
    }
}

/* Main content area */

main, #message {
    padding-top: 3.5em; /* Leave room for nav */
    margin: 0 auto;
    width: calc(36em + 15%);
}

@media (max-width: 48em) {
    main, #message {
        width: calc(100% - 4em);
    }
}

/* Footer */

footer {
    margin-top: 0;
    padding: 6em 4em 3em;
    background: linear-gradient(-2deg, var(--secondary-color) 60%, var(--secondary-light-color) 61%, var(--secondary-light-color) 75%, white 76%);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: .9em;
}
