html, body, #md-party {
    height: 100vh;
    margin: 0;
}

/* Basic typography */

body {
    font-family: sans-serif;
}

/* Vertical page parts */

#md-party { display: flex; flex-direction: column }
header  { flex: 0 0 }
nav     { flex: 0 0 }
main    { flex: 1 0 }
footer  { flex: 0 0 }

/* Navigation: desktop appearance */

nav #nav-burger-icon,
nav #nav-burger {
    display: none;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    opacity: .97;
}

nav #nav-items {
    display: inline-block;
}

nav #nav-title,
nav .nav-item {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
}

nav #nav-title {
    color: #999;
    font-weight: bold;
}

nav .nav-item.active {
    background: white;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Navigation: mobile appearance with burger */

@media (max-width: 48em) {

    nav #nav-burger-icon {
        display: inline-block;
        padding: .5em 0 .5em 1em;
    }

    nav #nav-title {
        display: inline-block;
    }

    nav #nav-items {
        display: none;
    }

    nav #nav-burger:checked ~ #nav-items {
        display: block;
    }

    nav #nav-burger:checked ~ #nav-items .nav-item {
        display: block;
        text-align: left;
    }
}

/* Main content area */

main {
    padding-top: 2.5em; /* Leave room for nav */
}

/* Footer */

footer {
    text-align: center;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
