html, body, #md-party {
    height: 100vh;
    margin: 0;
}

/* Vertical page parts */

#md-party { display: flex; flex-direction: column }
header  { flex: 0 0 }
nav     { flex: 0 0 }
main    { flex: 1 0 }
footer  { flex: 0 0 }

/* Navigation: general rules */

nav .nav-item.active {
    font-weight: bold;
}

/* Footer */

footer {
    text-align: center;
    background: #eee;
}
